<div class="px-2">
  <div>

    <h3>Buscador</h3>
    
    <mat-form-field>
        <mat-label>Buscar Pelicula...</mat-label>
        <input 
        matInput    
        type="text"
        (keyup)="searchPelicula()"
        [formControl] = "searchInput"
        >
        
      </mat-form-field>
  </div>
  <div>
    <h2>Peliculas</h2>
  </div>
  
</div>

<hr>
<div class="row mt-4">
    <div class="col">
        <admin-movies-table class="w-full" [peliculas]="MovieData"></admin-movies-table>
    </div>

</div>