<div *ngIf="movieMode === 'view'; else administrador" class="my-5 mx-8 flex flex-row justify-content-between">
  <div class="my-5 ml-5 flex justify-content-center w-full">
      <mat-card class="w-full">
        <div class="mx-3 mt-3 flex justify-content-between">
          <mat-card-header class="flex justify-content-between w-full">
                <mat-card-title class="text-3xl">{{movie.titulo}}</mat-card-title>
                <span class="font-medium text-xl pt-3 pb-3 px-3 border-round-3xl" style=" color:mistyrose; background-color:crimson;">{{movie.lanzamiento}}</span>
              <mat-card-subtitle style="color:darkgrey" class="text-xl mt-1">Director: {{movie.director}}</mat-card-subtitle>
          </mat-card-header>
        </div>
        <mat-card-content>
          <hr>
          <div class="flex justify-content-around w-full overflow-x-auto quitarContainer">
            
            @for (photo of movie.fotosExtra; track $index; ) {
              <div class="flex flex-column align-items-center mt-3 mx-3 sm:w-7 md:w-6 xl:w-5">
                <img [src]="photo" mat-card-image class="w-full shadow-4">
              </div>
            }
          </div>
          <hr>
          <div class="mt-4 pr-5 flex justify-content-between">
            <!-- <span class="w-9">{{movie.descripcion}}</span> -->
            <div class="sm:px-2 xl:px-4 pb-3 xl:mb-2">
              <span style="background-color:crimson; color:mistyrose" class="sm:text-sm font-light xl:text-xl border-0 sm:mr-1 xl:mr-2 p-2 border-round-sm" *ngFor="let genero of movie.genero let i = index">
                {{genero}}
              </span>
            </div>
            <div>
              <mat-icon class="sm:text-2xl xl:text-3xl sm:mx-0 xl:mx-1" style="color:goldenrod;" *ngFor="let icon of getStars(movie.calificacion)">
                {{ icon }}
              </mat-icon>
            </div>

          </div>

          <div class="shadow-1 mb-3 pl-4 pr-2 py-1 w-9">
            <h3>Sinopsis:</h3>
            <p>{{movie.descripcion}}</p>
          </div>

          <hr>
          <div class="ml-2 mb-3 px-2 w-10 xl:w-11">
            <h3>Reparto</h3>

            <div class="ml-4 py-2 flex justify-content-center w-full overflow-x-auto quitarContainer" >
            
            @for (actor of movieReparto; track $index; ) {
              <div class="shadow-1 pt-3 flex flex-column align-items-center mx-2 mt-3 sm:w-7 md:w-6 xl:w-3 ">
                <img [src]="actor.fotoPrincipal" mat-card-lg-image class="w-auto shadow-3 border-circle ">
                <div class="flex justify-content-around mx-5 mt-2 w-full">
                  <span class="text-sm">{{actor.nombre}}</span>
                  <span class="text-sm font-light">{{actor.nacimiento ? actor.nacimiento.split('T')[0]:actor.nacimiento}}</span>
                </div>
              </div>
            }
            </div>
          </div>
        </mat-card-content>
      </mat-card>

  </div>
</div>
<ng-template #administrador >
  <div class="my-5 ml-5 flex justify-content-center">
    <form class="w-8" [formGroup]="movieForm">
      <mat-card class=" mr-4 ">
        <div class="mx-3 mt-3 flex justify-content-between">
          <mat-form-field class="w-8">
            <mat-label>Titulo</mat-label>
            <input matInput required formControlName="titulo">
          </mat-form-field>
          <mat-form-field class="w-3">
            <mat-label>Año</mat-label>
            <input matInput required formControlName="lanzamiento">
          </mat-form-field>
        </div>
        <mat-card-content>
          <div *ngIf="movieForm.value.portada !== ''; else fotoIndefinida"  class="pb-0 flex align-items-center">
            <mat-form-field class="w-9">
              <mat-label>Añadir imagen</mat-label>
              <input matInput 
                #imgInput
                >
            </mat-form-field>
            <div class="w-3 mx-2 flex gap-2 align-items-center">
              <button mat-flat-button class="mb-3 text-2xl" (click)="addImg(imgInput.value); imgInput.value=''">+</button>
              <button mat-flat-button class="mb-3 text-sm font-light" (click)="movieForm.patchValue({portada:''})">Quitar foto principal</button>
            </div>
          </div>
          <ng-template #fotoIndefinida>
            <div class="flex align-items-center">
              <mat-form-field class="w-11">
                <mat-label>Añadir imagen</mat-label>
                <input matInput 
                  #imgInput
                  >
              </mat-form-field>
              <div class="w-2 mx-2 flex justify-content-center align-items-center">
                <button mat-flat-button class="mb-3 text-2xl" (click)="addImg(imgInput.value); imgInput.value=''">+</button>
              </div>
            </div>
          </ng-template> 

          <div *ngIf="(movieForm.value.fotosExtra[0]=== '' || movieForm.value.fotosExtra.length < 1 ) ; else fotos" class=" w-full flex justify-content-center">
            <div class="shadow-3 pb-6 pt-4 w-max px-7 my-3">
              <div class="flex justify-content-center">
                <h1>No hay fotos para mostrar</h1> 
              </div>           
              <div class="flex justify-content-center ">
                <mat-icon class=" text-3xl pb-1 px-1">add_circle</mat-icon>
              </div>
              
            </div>
            
          </div>
          <ng-template #fotos >
            <div>
            <mat-button-toggle-group formControlName="portada" class="flex justify-content-start overflow-x-auto quitarContainer shadow-none" [ngClass]="{'w-full':( movie.portada !== ''?1:0) + movie.fotosExtra.length < 2}"  appearance="legacy" name="fontStyle" aria-label="Font Style">
                
                @for (photo of movieForm.value.fotosExtra; track $index; ) {
                  <div class="flex flex-column align-items-center m-3 sm:w-7 md:w-6 xl:w-5">
                    <button (click)="deleteImg($index)" class="relative right-50 font-bold text-lg" mat-button>x</button>
                    <mat-button-toggle [value]="photo"><img [src]="photo" mat-card-xl-image class=" shadow-4 mb-3"></mat-button-toggle>
                  </div>
                }
              </mat-button-toggle-group>
            </div>
              

          </ng-template>
          
          <div class="mt-3 flex justify-content-between">
            <mat-form-field class="w-5">
              <mat-label>Director</mat-label>
              <input matInput formControlName="director">
            </mat-form-field>
            <mat-form-field class="w-5">
              <mat-label>Calificacion</mat-label>
              <input matInput formControlName="calificacion">
            </mat-form-field>
          </div>

          <mat-form-field class="w-full">
            <mat-label>Generos</mat-label>
            <mat-select multiple formControlName="genero" required>
              @for (gender of generos; track gender) {
                <mat-option [value]="gender">{{gender}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="descripcion">{{movie.descripcion}}</textarea>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Reparto</mat-label>
            <mat-select multiple formControlName="reparto" >
              
              <mat-form-field class="w-11 px-5">
                <mat-label>Buscar actor...</mat-label>
                <input matInput (keyup)="filtrarActores($event)">
              </mat-form-field>
          
              @for (actor of actores_filtrados; track actor) {
                <mat-option [value]="actor">{{actor.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="flex w-full justify-content-center my-4">
            <button mat-fab extended class="px-5 text-lg" (click)="onSubmit()" [disabled]="movieForm.invalid"><mat-icon>save</mat-icon>Guardar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</ng-template>