@if(dataType){
    <h1 class="text-3xl">Actores</h1>
    <div class="grid grid-cols-4 pt-2 ">
        @for (actor of data; track $index) {
            <div class="col-12 sm:col-4 md:col-3 xl:col-2">
                <app-actor-card [actor]="actor"></app-actor-card>
            </div>
        }
    </div>
}@else {
    <h1 class="text-3xl">Películas</h1>
    <div class="grid grid-cols-4 pt-2 ">
        @for (pelicula of data; track $index) {
            <div class="col-12 sm:col-4 md:col-3 xl:col-2">
                <app-movie-card [pelicula]="pelicula"></app-movie-card>
            </div>
        }
    </div>
}